
<%= render "partials/banner" %>


<% if flash[:success] == true %>

<div class="alert alert-success" role="alert">
       <p class="text-center"> Your Event have been created !</p>
    </div>

    <% end %>

