<link rel="stylesheet" type="text/css" href="style.css">


<legend>Mot de passe oublié?</legend>
      <br>
      </div>
      <div class="row">
        <div class="col-md-6 offset-md-3">
      <div class="form-group" >
        <label for="exampleInputEmail1">Adresse Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Entrez votre email">
        <br>
      </div>
      <button type="button" class="btn btn-primary col-md-6 offset-md-3">Envoyer l'email de récupération</button>
        </div>
      </div>
      </div>